<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <synerise>
            <api>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <host>https://api.synerise.com</host>
                <live_request_timeout>0.5</live_request_timeout>
                <live_request_async>1</live_request_async>
                <scheduled_request_timeout>5</scheduled_request_timeout>
            </api>
            <page_tracking>
                <opengraph>1</opengraph>
            </page_tracking>
            <event_tracking>
                <events>customer_save_after,customer_login,customer_logout,customer_register_success,sales_order_place_after,checkout_cart_add_product_complete,sales_quote_save_after,checkout_cart_update_items_after,sales_quote_remove_item,catalog_product_save_after,catalog_product_delete_after,catalog_product_import_bunch_save_after,newsletter_subscriber_save_after,product_is_salable_change,stock_status_change,wishlist_add_product,wishlist_item_delete_after,product_review_save_after</events>
            </event_tracking>
            <cron_status>
                <expr>*/5 * * * *</expr>
                <page_size>500</page_size>
            </cron_status>
            <cron_queue>
                <expr>* * * * *</expr>
                <page_size>500</page_size>
            </cron_queue>
            <synchronization>
                <models>customer,order,product,subscriber</models>
            </synchronization>
        </synerise>
    </default>
</config>
