<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Synerise\Integration\Api\SetupInterface" type="Synerise\Integration\Model\Setup"/>
    <type name="Magento\Framework\MessageQueue\Consumer\Config\CompositeReader">
        <plugin name="queueConfigPluginSynerise"
                type="Synerise\Integration\MessageQueue\Config\Consumer\ConfigReaderPlugin" sortOrder="2" />
    </type>
    <type name="Magento\Framework\MessageQueue\Publisher\Config\CompositeReader">
        <plugin name="queueConfigPluginSynerise"
                type="Synerise\Integration\MessageQueue\Config\Publisher\ConfigReaderPlugin" sortOrder="2" />
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="synerise/credentials/api_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="synerise_workspace_listing_data_source" xsi:type="string">Synerise\Integration\Model\ResourceModel\Workspace\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Synerise\Integration\Model\ResourceModel\Workspace\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">synerise_workspace</argument>
            <argument name="resourceModel" xsi:type="string">Synerise\Integration\Model\ResourceModel\Workspace</argument>
        </arguments>
    </virtualType>
    <virtualType name="Synerise\Integration\Model\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Synerise\Integration\Model\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Synerise\Integration\Controller\Adminhtml\Catalog\MassSchedule">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Customer\MassUpdate">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Newsletter\MassUpdate">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Log\Download">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Log\MassDelete">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Order\MassUpdate">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Cron\Synchronization">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Api">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Catalog">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Event">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Order">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Helper\Tracking">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Model\MessageQueue\Event\Handler">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Model\MessageQueue\Data\ProductBatchHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Model\MessageQueue\Data\ProductRangeHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Observer\StoreSaveAfter">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
</config>