<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Communication\Config\CompositeReader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="asyncServiceReader" xsi:type="array">
                    <item name="reader" xsi:type="object">Magento\WebapiAsync\Code\Generator\Config\RemoteServiceReader\Communication</item>
                    <item name="sortOrder" xsi:type="string">0</item>
                </item>
                <item name="xmlReader" xsi:type="array">
                    <item name="reader" xsi:type="object">Magento\Framework\Communication\Config\Reader\XmlReader</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="envReader" xsi:type="array">
                    <item name="reader" xsi:type="object">Magento\Framework\Communication\Config\Reader\EnvReader</item>
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
                <item name="remoteServiceReader" xsi:type="array">
                    <item name="reader" xsi:type="object">Magento\Framework\MessageQueue\Code\Generator\Config\RemoteServiceReader\Communication</item>
                    <item name="sortOrder" xsi:type="string">5</item>
                </item>
                <item name="syneriseReader" xsi:type="array">
                    <item name="reader" xsi:type="object">Synerise\Integration\MessageQueue\Config\Reader\Communication</item>
                    <item name="sortOrder" xsi:type="string">15</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\Topology\Config\CompositeReader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="remoteServiceReader" xsi:type="object" sortOrder="10">Magento\Framework\MessageQueue\Topology\Config\RemoteService\Reader</item>
                <item name="xmlReader" xsi:type="object" sortOrder="20">Magento\Framework\MessageQueue\Topology\Config\Xml\Reader</item>
                <item name="syneriseReader" xsi:type="object" sortOrder="30">Synerise\Integration\MessageQueue\Config\Reader\Topology</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\Consumer\Config\CompositeReader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="xmlReader" xsi:type="object" sortOrder="10">Magento\Framework\MessageQueue\Consumer\Config\Xml\Reader</item>
                <item name="envReader" xsi:type="object" sortOrder="20">Magento\Framework\MessageQueue\Consumer\Config\Env\Reader</item>
                <item name="syneriseReader" xsi:type="object" sortOrder="15">Synerise\Integration\MessageQueue\Config\Reader\Consumer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\Publisher\Config\CompositeReader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="asyncServiceReader" xsi:type="object" sortOrder="0">Magento\WebapiAsync\Code\Generator\Config\RemoteServiceReader\Publisher</item>
                <item name="remoteServiceReader" xsi:type="object" sortOrder="10">Magento\Framework\MessageQueue\Publisher\Config\RemoteService\Reader</item>
                <item name="xmlReader" xsi:type="object" sortOrder="20">Magento\Framework\MessageQueue\Publisher\Config\Xml\Reader</item>
                <item name="envReader" xsi:type="object" sortOrder="30">Magento\Framework\MessageQueue\Publisher\Config\Env\Reader</item>
                <item name="syneriseReader" xsi:type="object" sortOrder="15">Synerise\Integration\MessageQueue\Config\Reader\Publisher</item>
            </argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Publisher\Data\All">
        <arguments>
            <argument name="bulkManagement" xsi:type="object">Synerise\Integration\MessageQueue\BulkManagement</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="synerise_workspace_listing_data_source" xsi:type="string">Synerise\Integration\Model\ResourceModel\Workspace\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Synerise\Integration\Model\ResourceModel\Workspace\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">synerise_workspace</argument>
            <argument name="resourceModel" xsi:type="string">Synerise\Integration\Model\ResourceModel\Workspace</argument>
        </arguments>
    </virtualType>
    <type name="Magento\InventoryIndexer\Model\Queue\UpdateIndexSalabilityStatus">
        <plugin name="synerise_update_index_salability_status" type="Synerise\Integration\Observer\ProductIsSalableChange" />
    </type>
    <type name="Magento\CatalogInventory\Model\Indexer\Stock">
        <plugin name="synerise_indexer_stock" type="Synerise\Integration\Observer\IndexerStock" />
    </type>
    <virtualType name="Synerise\Integration\Model\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Synerise\Integration\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Synerise\Integration\Helper\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Synchronization\Batch\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Synchronization\Batch\Order">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Synchronization\Batch\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Synchronization\Batch\Subscriber">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Log\Download">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Controller\Adminhtml\Log\MassDelete">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\Cron\MessageQueue\Retry">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Batch\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Batch\Order">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Batch\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Batch\Subscriber">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Item\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Item\Order">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Item\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Item\Subscriber">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Range\Customer">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Range\Order">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Range\Product">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Range\Subscriber">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Data\Scheduler">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\MessageQueue\Consumer\Event">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\SyneriseApi\ConfigFactory">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Synerise\Integration\SyneriseApi\Authentication">
        <arguments>
            <argument name="logger" xsi:type="object">Synerise\Integration\Model\Logger</argument>
        </arguments>
    </type>
</config>