<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Synerise\Integration\Api\SetupInterface" type="Synerise\Integration\Model\Setup"/>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="synerise/credentials/api_key" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="synerise_integration_business_profile_listing_data_source" xsi:type="string">Synerise\Integration\ResourceModel\BusinessProfile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Synerise\Integration\ResourceModel\BusinessProfile\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">synerise_business_profile</argument>
            <argument name="resourceModel" xsi:type="string">Synerise\Integration\ResourceModel\BusinessProfile</argument>
        </arguments>
    </virtualType>
</config>