<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <synerise>
            <api>
                <keep_alive_enabled>1</keep_alive_enabled>
                <live_request_timeout>2.5</live_request_timeout>
                <scheduled_request_timeout>10</scheduled_request_timeout>
            </api>
            <page_tracking>
                <opengraph>1</opengraph>
            </page_tracking>
            <event_tracking>
                <events>customer_save_after,customer_login,customer_logout,customer_register_success,customer_delete,customer_import_interceptor,sales_order_place_after,checkout_cart_add_product_complete,sales_quote_save_after,checkout_cart_update_items_after,sales_quote_remove_item,catalog_product_save_after,catalog_product_delete_after,catalog_product_import_bunch_save_after,catalog_product_action,newsletter_subscriber_save_after,product_is_salable_change,stock_status_change,wishlist_add_product,wishlist_item_delete_after,product_review_save_after</events>
            </event_tracking>
            <queue>
                <events>customer_save_after,customer_login,customer_logout,customer_register_success,customer_delete,customer_import_interceptor,sales_order_place_after,checkout_cart_add_product_complete,sales_quote_save_after,checkout_cart_update_items_after,sales_quote_remove_item,catalog_product_save_after,catalog_product_delete_after,catalog_product_import_bunch_save_after,newsletter_subscriber_save_after,product_is_salable_change,stock_status_change,wishlist_add_product,wishlist_item_delete_after,product_review_save_after,customer_merge_by_email</events>
            </queue>
            <synchronization>
                <models>customer,order,product,subscriber</models>
            </synchronization>
            <customer>
                <limit>50</limit>
                <delete_behavior>event</delete_behavior>
            </customer>
            <order>
                <limit>50</limit>
            </order>
            <product>
                <limit>50</limit>
            </product>
            <subscriber>
                <limit>50</limit>
            </subscriber>
            <debug>
                <logger_enabled>1</logger_enabled>
            </debug>
        </synerise>
    </default>
</config>
