& when (@media-common = true) {

  ul#synerise-quick-search {
    li {
      display: flex;
      align-items: center;

      &:hover,
      &.selected {
        background: @page__background-color;
      }
      &:hover .delete-recent {
        opacity: 1;
      }
      a {
        .lib-link(
          @_link-color: @primary__color,
          @_link-text-decoration: none,
          @_link-color-hover: @primary__color,
          @_link-text-decoration-hover: none,
          @_link-color-visited: @primary__color,
          @_link-text-decoration-visited: none,
          @_link-color-active: @primary__color,
          @_link-text-decoration-active: none
        );

        .product-item {
          display: flex;

          .product-image-container {
            flex: 0 0 auto;
          }

          .product-name {
            margin: 5px 0;
          }

          .price-box {
            margin: 0;
          }
        }
      }

      .qs-option-name {
        flex: 1;
      }

      .qs-header {
        cursor: default;
      }

      .delete-recent {
        margin-left: auto;
        padding-left: 8px;
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }
    }
  }

  .clear {
    clear: both;
  }
}
