<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="synerise" translate="label" sortOrder="1000">
            <label>Synerise</label>
        </tab>
        <section id="synerise_workspace" translate="label" sortOrder="1" showInDefault="1">
            <label>Workspaces</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_workspace</resource>
            <group id="websites" translate="label" sortOrder="10" showInDefault="1">
                <label>Websites</label>
                <field id="map" translate="label" sortOrder="1" showInDefault="1">
                    <label>Mapping</label>
                    <config_path>synerise/workspace/map</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Workspaces</backend_model>
                    <frontend_model>Synerise\Integration\Block\Adminhtml\Form\Field\Workspaces</frontend_model>
                    <source_model>Synerise\Integration\Model\Config\Source\Workspace</source_model>
                    <comment>
                        <model>Synerise\Integration\Model\Config\Backend\Workspaces\Comment</model>
                    </comment>
                </field>
            </group>
            <group id="stores" translate="label" sortOrder="10" showInDefault="1">
                <label>Stores</label>
                <field id="enabled" type="multiselect" translate="label,comment,tooltip" sortOrder="2" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/synchronization/stores</config_path>
                    <source_model>Magento\Store\Model\System\Store</source_model>
                    <comment><![CDATA[Deselect store views to exclude them from event tracking and data synchronization.]]></comment>
                </field>
            </group>
        </section>
        <section id="synerise_data" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Data</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_attributes</resource>
            <group id="models" translate="label" sortOrder="20" showInDefault="1">
                <label>Synchronization</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/synchronization/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <model>Synerise\Integration\Model\Config\Backend\Synchronization\Enabled\Comment</model>
                    </comment>
                </field>
                <field id="models" type="multiselect" translate="label,comment,tooltip" sortOrder="2" showInDefault="1">
                    <label>Models</label>
                    <config_path>synerise/synchronization/models</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Synchronization\Model</source_model>
                    <comment><![CDATA[Deselect models to exclude them from synchronization.]]></comment>
                </field>
            </group>
            <group id="product" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="limit" translate="label" type="select" sortOrder="2" showInDefault="1">
                    <label>Max items per request</label>
                    <config_path>synerise/product/limit</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Limit</source_model>
                    <comment><![CDATA[Number of items to be sent in single request during full and batch synchronization.]]></comment>
                </field>
                <field id="attributes" type="multiselect" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <config_path>synerise/product/attributes</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Products\Attributes</source_model>
                    <comment>The changes of attribute selection will apply only to products which haven’t been sent to Synerise yet. To apply the changes to all products schedule full synchronization for all affected scopes.</comment>
                </field>
                <field id="filterable_attributes" type="select" translate="label,comment,tooltip" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include attributes used in search</label>
                    <config_path>synerise/product/filterable_attributes</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled all searchable, filterable and sortable attributes will get synchronized.</comment>
                </field>
                <field id="labels_enabled" type="select" translate="label,comment,tooltip" sortOrder="20" showInDefault="1">
                    <label>Selectable attribute value</label>
                    <config_path>synerise/product/labels_enabled</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Products\Attributes\Format</source_model>
                </field>
                <field id="price" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Price</label>
                    <config_path>synerise/product/price</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Products\Price</source_model>
                    <comment>Attribute 'price' presented in catalog.</comment>
                </field>
                <field id="price_includes_tax" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Prices including tax</label>
                    <config_path>synerise/product/calculate_tax</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Include tax in events and catalog.</comment>
                </field>
            </group>
            <group id="customer" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customers</label>
                <field id="limit" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Max items per request</label>
                    <config_path>synerise/customer/limit</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Limit</source_model>
                    <comment><![CDATA[Number of items to be sent in single request during full and batch synchronization.]]></comment>
                </field>
                <field id="attributes" type="multiselect" translate="label,comment,tooltip" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <config_path>synerise/customer/attributes</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Customers\Attributes</source_model>
                    <comment>The changes of attribute selection will apply only for customers who haven’t been sent to Synerise yet. To apply the changes to all customers schedule full synchronization for all affected scopes.</comment>
                </field>
                <field id="delete_behavior" translate="label" type="select" sortOrder="3" showInDefault="1">
                    <label>Delete behavior</label>
                    <config_path>synerise/customer/delete_behavior</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\CustomerDeleteBehavior</source_model>
                    <comment><![CDATA[Deletion of customer can either trigger an event or delete the entity permanently from Synerise system.]]></comment>
                </field>
            </group>
            <group id="order" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders</label>
                <field id="limit" translate="label" type="select" sortOrder="2" showInDefault="1">
                    <label>Max items per request</label>
                    <config_path>synerise/order/limit</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Limit</source_model>
                    <comment><![CDATA[Number of items to be sent in single request during full and batch synchronization.]]></comment>
                </field>
            </group>
            <group id="subscriber" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscribers</label>
                <field id="limit" translate="label" type="select" sortOrder="2" showInDefault="1">
                    <label>Max items per request</label>
                    <config_path>synerise/subscriber/limit</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Limit</source_model>
                    <comment><![CDATA[Number of items to be sent in single request during full and batch synchronization.]]></comment>
                </field>
            </group>
        </section>
        <section id="synerise_page_tacking" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tracking</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_page_tracking</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tracking</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/page_tracking/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="opengraph" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Open Graph</label>
                    <config_path>synerise/page_tracking/opengraph</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Include additional product tags for tracking.]]></comment>
                </field>
            </group>
            <group id="custom" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom script</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/page_tracking/custom_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Custom script should be used only if basic config is insufficient. By default, the tracking script will be obtained automatically upon Workspace assignment.]]></comment>
                </field>
                <field id="script" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Script</label>
                    <config_path>synerise/page_tracking/script</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Script can be generated in Synerise application under <a href="https://app.synerise.com/spa/modules/settings/profile/tracking-codes/list" target="_blank">Settings > Tracking codes</a>.]]></comment>
                </field>
            </group>
            <group id="advanced" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced</label>
                <field id="domain" type="text" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie domain</label>
                    <config_path>synerise/page_tracking/domain</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Tracking\Domain</backend_model>
                    <comment><![CDATA[Common cookie domain can be set if a single Workspace is shared across many subdomains. Otherwise it should be left blank.]]></comment>
                </field>
                <field id="custom_page_visit" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Page Visit</label>
                    <config_path>synerise/page_tracking/custom_page_visit</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Recommended for PWA themes. Enabling this option requires a custom page visit implementation. To find out more refer to <a href="https://help.synerise.com/developers/web/installation-and-configuration/#automatic-tracking-of-page-visits">Page Tracking documentation</a>]]></comment>
                </field>
            </group>
            <group id="dynamic_content" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dynamic Content</label>
                <field id="virtual_page" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Virtual Page</label>
                    <config_path>synerise/dynamic_content/virtual_page</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Recommended for PWA themes.]]></comment>
                </field>
            </group>
        </section>
        <section id="synerise_event_tacking" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Events</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_event_tracking</resource>
            <group id="setup" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Events</label>
                <comment><![CDATA[Tracking customer actions & data changes.]]></comment>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/event_tracking/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="events" type="multiselect" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events</label>
                    <config_path>synerise/event_tracking/events</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\EventTracking\Events</source_model>
                    <comment>
                        <model>Synerise\Integration\Model\Config\Backend\EventTracking\Events\Comment</model>
                    </comment>
                </field>
                <field id="include_params" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Tracking Params</label>
                    <config_path>synerise/event_tracking/include_params</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Additional params from _snrs_params cookie can optionally be included in cart & transaction events.]]></comment>
                </field>
            </group>
            <group id="message_queue" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Message Queues</label>
                <comment>Queue up events for improved user experience.</comment>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/queue/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="events" type="multiselect" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events to send by queue</label>
                    <config_path>synerise/queue/events</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\MessageQueue\Events</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="synerise_ai_search" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>AI Search</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_ai_search</resource>
            <group id="autocomplete" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Autocomplete</label>
                <field id="products_enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Products Enabled</label>
                    <config_path>synerise_autocomplete/default/products_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="products_count" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Products Count</label>
                    <config_path>synerise_autocomplete/default/products_count</config_path>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <depends>
                        <field id="products_enabled">1</field>
                    </depends>
                </field>
                <field id="suggestions_enabled" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Suggestions Enabled</label>
                    <config_path>synerise_autocomplete/default/suggestions_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="suggestions_index" translate="label" type="select" sortOrder="40" showInStore="1">
                    <label>Suggestions Index</label>
                    <config_path>synerise_autocomplete/default/suggestions_index</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Search\SuggestionIndex</source_model>
                    <depends>
                        <field id="suggestions_enabled">1</field>
                    </depends>
                </field>
                <field id="suggestions_count" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Suggestions Count</label>
                    <config_path>synerise_autocomplete/default/suggestions_count</config_path>
                    <validate>validate-digits validate-zero-or-greater</validate>
                    <depends>
                        <field id="suggestions_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="autocomplete_zero_state" translate="label" sortOrder="10" showInStore="1">
                <label>Autocomplete zero-state </label>
                <field id="zero_state_enabled" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zeros-state enabled</label>
                    <config_path>synerise_autocomplete/zero_state/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="zero_state_recent_enabled" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recent searches enabled</label>
                    <config_path>synerise_autocomplete/zero_state/recent_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="zero_state_enabled">1</field>
                    </depends>
                </field>
                <field id="zero_state_recent_header" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recent searches header</label>
                    <config_path>synerise_autocomplete/zero_state/recent_header</config_path>
                    <depends>
                        <field id="zero_state_enabled">1</field>
                        <field id="zero_state_recent_enabled">1</field>
                    </depends>
                </field>
                <field id="zero_state_campaign_id" translate="label" type="text" sortOrder="50" showInStore="1">
                    <label>Campaign Id</label>
                    <config_path>synerise_autocomplete/zero_state/campaign_id</config_path>
                    <depends>
                        <field id="zero_state_enabled">1</field>
                    </depends>
                </field>
                <field id="zero_state_campaign_header" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Campaign header</label>
                    <config_path>synerise_autocomplete/zero_state/campaign_header</config_path>
                    <depends>
                        <field id="zero_state_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="autocomplete_no_results" translate="label" sortOrder="20" showInStore="1">
                <label>Autocomplete no-results</label>
                <field id="no_results_enabled" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No-results enabled</label>
                    <config_path>synerise_autocomplete/no_results/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="no_results_top_enabled" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Most popular searches enabled</label>
                    <config_path>synerise_autocomplete/no_results/top_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="no_results_enabled">1</field>
                    </depends>
                </field>
                <field id="no_results_top_header" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Most popular searches header</label>
                    <config_path>synerise_autocomplete/no_results/top_header</config_path>
                    <depends>
                        <field id="no_results_enabled">1</field>
                        <field id="no_results_top_enabled">1</field>
                    </depends>
                </field>
                <field id="no_results_campaign_id" translate="label" type="text" sortOrder="40" showInStore="1">
                    <label>Campaign Id</label>
                    <config_path>synerise_autocomplete/no_results/campaign_id</config_path>
                    <depends>
                        <field id="no_results_enabled">1</field>
                    </depends>
                </field>
                <field id="no_results_campaign_header" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Campaign header</label>
                    <config_path>synerise_autocomplete/no_results/campaign_header</config_path>
                    <depends>
                        <field id="no_results_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="synerise_api" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Api</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_api</resource>
            <group id="api" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Api</label>
                <field id="keep_alive_enabled" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable keep-alive header</label>
                    <config_path>synerise/api/keep_alive_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="live_request" translate="label" sortOrder="10" showInDefault="1">
                <label>Live requests</label>
                <field id="timeout" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Timeout</label>
                    <config_path>synerise/api/live_request_timeout</config_path>
                    <comment>Specify timeout in seconds for live requests.</comment>
                    <validate>float validate-greater-than-zero</validate>
                </field>
            </group>
            <group id="scheduled_request" translate="label" sortOrder="10" showInDefault="1">
                <label>Scheduled requests</label>
                <field id="timeout" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Timeout</label>
                    <config_path>synerise/api/scheduled_request_timeout</config_path>
                    <comment>Specify timeout in seconds for scheduled requests.</comment>
                    <validate>float validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
        <section id="synerise_debug" translate="label" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Debug</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_debug</resource>
            <group id="logger" translate="label" sortOrder="10" showInDefault="1"  showInWebsite="1" showInStore="1">
                <label>Debug</label>
                <field id="logger_enabled" type="select" translate="label" sortOrder="10" showInDefault="1">
                    <label>Enable logging</label>
                    <config_path>synerise/debug/logger_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="request_logger_enabled" type="select" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API request logging</label>
                    <depends>
                        <field id="logger_enabled">1</field>
                    </depends>
                    <config_path>synerise/api/logger_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logger_exclude" type="multiselect" translate="label" sortOrder="20" showInDefault="1">
                    <label>Exclude from logging</label>
                    <depends>
                        <field id="logger_enabled">1</field>
                    </depends>
                    <config_path>synerise/debug/logger_exclude</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Debug\Exclude</source_model>
                </field>
            </group>
        </section>
        <section id="catalog">
            <group id="search">
                <field id="engine" showInDefault="1"/>
                <field id="disable_fulltext" translate="label" type="select" sortOrder="61"  showInDefault="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Disable "Catalog Search" index</label>
                    <comment>Full text index is not used by Synerise Ai Search, and it can be disabled.</comment>
                    <depends>
                        <field id="engine">synerise_ai</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
