<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="synerise" translate="label" sortOrder="1000">
            <label>Synerise</label>
        </tab>
        <section id="synerise_workspace" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1">
            <label>Workspaces</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_workspace</resource>
            <group id="websites" translate="label" sortOrder="10" showInDefault="1">
                <label>Websites</label>
                <field id="id" type="select" translate="label" sortOrder="20">
                    <label>Select</label>
                    <config_path>synerise/workspace/id</config_path>
                    <backend_model>\Synerise\Integration\Model\Config\Backend\Workspace</backend_model>
                    <source_model>Synerise\Integration\Model\Config\Source\Workspace</source_model>
                </field>
                <field id="map" translate="label" sortOrder="1" showInDefault="1">
                    <label>Mapping</label>
                    <config_path>synerise/workspace/map</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Workspaces</backend_model>
                    <frontend_model>Synerise\Integration\Block\Adminhtml\Form\Field\Workspaces</frontend_model>
                    <source_model>Synerise\Integration\Model\Config\Source\Workspace</source_model>
                    <comment>
                        <model>Synerise\Integration\Model\Config\Backend\Workspaces\Comment</model>
                    </comment>
                </field>
            </group>
            <group id="stores" translate="label" sortOrder="10" showInDefault="1">
                <label>Stores</label>
                <field id="enabled" type="multiselect" translate="label,comment,tooltip" sortOrder="2" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/synchronization/stores</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Synchronization\Store</backend_model>
                    <source_model>Magento\Store\Model\System\Store</source_model>
                    <comment><![CDATA[Deselect store views to exclude their data from synchronization.]]></comment>
                </field>
            </group>
        </section>
        <section id="synerise_sync" translate="label" sortOrder="3" showInDefault="1">
            <label>Synchronization</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_synchronization</resource>
            <group id="cron_status" translate="label" sortOrder="20" showInDefault="1">
                <label>Full Synchronization</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/cron_status/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Before enabling, verify the data configuration to make sure it contains all models & attributes you want to include.]]></comment>
                </field>
                <field id="expr" translate="label" type="text" sortOrder="2" showInDefault="1">
                    <label>Cron expression</label>
                    <config_path>synerise/cron_status/expr</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Cron\Status</backend_model>
                </field>
                <field id="page_size" translate="label" type="text" sortOrder="2" showInDefault="1">
                    <label>Page size</label>
                    <config_path>synerise/cron_status/page_size</config_path>
                    <validate>integer validate-greater-than-zero</validate>
                </field>
                <comment><![CDATA[This process will send all the data collected prior to its start. To resend all the items or the items created since the integration, go to Marketing > Synerise > Dashboard.]]></comment>
            </group>
            <group id="cron_queue" translate="label" sortOrder="20" showInDefault="1">
                <label>Updates Synchronization</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/cron_queue/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Before enabling, verify the data configuration to make sure it contains all models & attributes you want to include.]]></comment>
                </field>
                <field id="expr" translate="label" type="text" sortOrder="2" showInDefault="1">
                    <label>Cron expression</label>
                    <config_path>synerise/cron_queue/expr</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Cron\Queue</backend_model>
                </field>
                <field id="page_size" translate="label" type="text" sortOrder="2" showInDefault="1">
                    <label>Page size</label>
                    <config_path>synerise/cron_queue/page_size</config_path>
                    <validate>integer validate-greater-than-zero</validate>
                </field>
                <comment><![CDATA[This process will send the data that has recently changed. It is based on items queue & the data will be send in the background.]]></comment>
            </group>
        </section>
        <section id="synerise_data" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Data</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_attributes</resource>
            <group id="models" translate="label" sortOrder="20" showInDefault="1">
                <label>Models</label>
                <field id="models" type="multiselect" translate="label,comment,tooltip" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <config_path>synerise/synchronization/models</config_path>
                    <backend_model>Synerise\Integration\Model\Config\Backend\Synchronization\Model</backend_model>
                    <source_model>Synerise\Integration\Model\Config\Source\Synchronization\Model</source_model>
                    <comment><![CDATA[Deselect models to exclude them from synchronization.]]></comment>
                </field>
            </group>
            <group id="product" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="attributes" type="multiselect" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <config_path>synerise/product/attributes</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Products\Attributes</source_model>
                    <comment>The changes of attribute selection will apply only to products which haven’t been sent to Synerise yet. To apply the changes to all products go to Marketing > Synerise > Dashboard and use Resend all items option.</comment>
                </field>
                <field id="labels" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1">
                    <label>Labels as values</label>
                    <config_path>synerise/product/labels_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="customer" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customers</label>
                <field id="attributes" type="multiselect" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <config_path>synerise/customer/attributes</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\Customers\Attributes</source_model>
                    <comment>The changes of attribute selection will apply only for customers who haven’t been sent to Synerise yet. To apply the changes to all customers go to Marketing > Synerise > Dashboard and use Resend all items option.</comment>
                </field>
            </group>
        </section>
        <section id="synerise_page_tacking" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tracking</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_page_tracking</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tracking</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/page_tracking/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="opengraph" type="select" translate="label,comment,tooltip" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Open Graph</label>
                    <config_path>synerise/page_tracking/opengraph</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Include additional product tags for tracking.]]></comment>
                </field>
            </group>
            <group id="custom" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom script</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/page_tracking/custom_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Custom script should be used only if basic config is insufficient. By default, the tracking script will be obtained automatically upon Workspace assignment.]]></comment>
                </field>
                <field id="script" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Script</label>
                    <config_path>synerise/page_tracking/script</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Script can be generated in Synerise application under <a href="https://app.synerise.com/spa/modules/settings/profile/tracking-codes/list" target="_blank">Settings > Tracking codes</a>.]]></comment>
                </field>
            </group>
            <group id="advanced" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced</label>
                <field id="domain" type="text" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie domain</label>
                    <config_path>synerise/page_tracking/domain</config_path>
                    <backend_model>\Synerise\Integration\Model\Config\Backend\Tracking\Domain</backend_model>
                    <comment><![CDATA[Common cookie domain can be set if a single Workspace is shared across many subdomains. Otherwise it should be left blank.]]></comment>
                </field>
                <field id="custom_page_visit" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Page Visit</label>
                    <config_path>synerise/page_tracking/custom_page_visit</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Recommended for PWA themes. Enabling this option requires a custom page visit implementation. To find out more refer to <a href="https://help.synerise.com/developers/web/installation-and-configuration/#automatic-tracking-of-page-visits">Page Tracking documentation</a>]]></comment>
                </field>
            </group>
            <group id="dynamic_content" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dynamic Content</label>
                <field id="virtual_page" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Virtual Page</label>
                    <config_path>synerise/dynamic_content/virtual_page</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Recommended for PWA themes.]]></comment>
                </field>
            </group>
        </section>
        <section id="synerise_event_tacking" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Events</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_event_tracking</resource>
            <group id="setup" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Events</label>
                <comment>Events either provide data for live tracking of customer actions or for background updates synchronization. In general it is recommended keep all events enabled, unless you intend to provide some types of data in an alternative way.</comment>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <config_path>synerise/event_tracking/enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="events" type="multiselect" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Events</label>
                    <config_path>synerise/event_tracking/events</config_path>
                    <source_model>Synerise\Integration\Model\Config\Source\EventTracking\Events</source_model>
                </field>
            </group>
        </section>
        <section id="synerise_api" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Api</label>
            <tab>synerise</tab>
            <resource>Synerise_Integration::configuration_api</resource>
            <group id="api" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Api</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Host</label>
                    <config_path>synerise/api/host</config_path>
                    <backend_model>\Synerise\Integration\Model\Config\Backend\Api\Host</backend_model>
                    <comment>Specify Api host URL.</comment>
                </field>
                <field id="key" translate="label comment" type="text">
                    <label>Key</label>
                    <config_path>synerise/api/key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="logger_enabled" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Request logging</label>
                    <config_path>synerise/api/logger_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>